{% load static %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for video in videos %}
            <div class="col">
                <div class="card text-white bg-secondary m-4 card-hover">

                    <div class="card-top-container">
                        <a href="{% url 'video page' video.id %}">
                            {% if video.thumbnail %}
                                <img class="card-img-top" src="{{ video.thumbnail.url }}">
                            {% else %}
                                <img class="card-img-top" src="{% static 'images/default_thumbnail.jpg' %}">
                            {% endif %}
                            <img class="play-icon" src="{% static 'images/play-button.png' %}">
                        </a>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title text-center">{{ video.title }}</h5>
                        <div class="d-flex justify-content-between">
                            <span class="text-muted">{{ video.videoview_set.count }} views</span>
                            <span class="text-muted">5 days ago</span>
                        </div>
                    </div>

                    {% if not profile_page %}
                        <div class="card-footer">
                            <h6>
                                <a class="text-muted text-decoration-none"
                                   href="{% url 'profile page' video.user_id %}">
                                    {% if video.user.profile.profile_picture %}
                                        <img class="img-profile-small"
                                             src="{{ video.user.profile.profile_picture.url }}">
                                    {% else %}
                                        <img class="img-profile-small" src="{% static 'images/default_profile.jpg' %}">
                                    {% endif %}
                                    {{ video.user.profile.username }}
                                </a>
                            </h6>
                        </div>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    </div>
</div>