{% extends 'base/base.html' %}
{% load static %}

{% block custom_style_head %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block content %}
    <div class="container ml-50">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for video in videos %}
                <div class="col">
                    <div class="card text-white bg-secondary m-4">
                        <a href="{% url 'video page' video.id %}">
                            <img class="card-img-top" src="{{ video.thumbnail.url }}">
                        </a>
                        <h5 style="text-align: center" class="card-title mt-3">{{ video.title }}</h5>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
