{% extends 'base/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}{{ profile.username }} - MetioTube{% endblock %}

{% block content %}
    <div class="container ml-50">
        <div class="card text-white bg-secondary">
            <div class="card-header">
                <h1 class="card-title">
                    {% if profile.profile_picture %}
                        <img class="img-profile-big" src="{{ profile.profile_picture.url }}">
                    {% else %}
                        <img class="img-profile-big" src="{% static 'images/default_profile.jpg' %}">
                    {% endif %}
                    <span class="text-muted fs-5 position-absolute my-5 py-3">{{ profile.subscribers.count }} subscribers</span>
                    {{ profile.username }}
                </h1>
                {% if profile.user_id == user.id %}
                    <a class="btn btn-light" href="{% url 'edit profile' %}">Edit Profile</a>

                {% else %}
                    <form method="post" action="{% url 'subscribe' profile.user_id %}">
                        {% csrf_token %}
                        {% if request.user not in profile.subscribers.all %}
                            <button type="submit" class="btn btn-danger">Subscribe</button>
                        {% else %}
                            <button type="submit" class="btn btn-light">Unsubscribe</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>

            <div class="card-body">
                {% if profile.about %}
                    <h5 class="card-title">About {{ profile.username }}:</h5>
                    <p class="card-text">{{ profile.about }}</p>
                {% else %}
                    <h5 class="card-title">{{ profile.username }} has no about info!</h5>
                {% endif %}
            </div>
        </div>
    </div>

    {% if videos %}
        <h1 class="text-center text-white mt-3">{{ profile.username }} videos:</h1>
        {% include 'base/show-videos.html' %}

    {% else %}
        <h1 class="text-center text-white mt-3">{{ profile.username }} has no uploaded videos!</h1>
    {% endif %}

{% endblock %}
